name: CI

on:
  pull_request:
    paths:
      - 'cms/**'

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        tags: cli:latest
        load: true
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Composer install
      run: docker run --rm -v ${{ github.workspace }}:/app -w /app/cms cli:latest php ../composer.phar install

    - name: Run composer check
      run: docker run --rm -v ${{ github.workspace }}:/app -w /app/cms -e SECURITY_SALT -e DATABASE_TEST_URL cli:latest php ../composer.phar check
      env:
        SECURITY_SALT: f76f1c8475585c46c6acd3ddcb8f5e0f15de524637bb4080a08c4afe7cfc9144
        DATABASE_TEST_URL: sqlite://127.0.0.1/tmp/tests.sqlite
